openapi: 3.0.3
info:
  description: "\n\n# Developer Resources\n Refer\n[Developer Resources](https://developer.paychex.com/resources/overview/)\
    \ for more details on API specification "
  title: External API
  version: "1.0"
  x-konfig-ignore:
    potential-incorrect-type: true
servers:
- url: https://api.paychex.com
tags:
- name: Worker
- name: Company
- name: Payroll
- name: Webhooks
- name: Authentication
- name: Management
paths:
  /auth/oauth/v2/token:
    post:
      description: Request a Bearer token that will be used as an access token when
        making calls to resources.  The credentials need to be sent within the body
        of the request.
      operationId: Authentication_createBearerToken
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthenticationCreateBearerTokenRequest'
        description: user info to be filled
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authentication'
          description: successful operation
      summary: Create Bearer token
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--auth-oauth-v2-token
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /companies:
    get:
      description: Array of companies that your application has been granted with
        some level of access. Your Application (API Key) can be granted access to
        one or more companies (clients) accounts that are associated with one or more
        product lines within Paychex.
      operationId: Company_list
      parameters:
      - description: "The client account number used for identification purposes.\
          \ (no dash or spaces allowed, only the last 8 characters  of the ID)"
        explode: true
        in: query
        name: displayid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_GET'
              schema:
                $ref: '#/components/schemas/CompanyResource'
            application/vnd.paychex.companies.v1+json:
              examples:
                Companies:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_GET'
              schema:
                $ref: '#/components/schemas/CompanyResource'
          description: successful operation
        "401":
          content:
            application/json:
              example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
          description: User doesn't have access to this endpoint (API-2)
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
          description: Invalid resource ID (API-7)
          x-do-not-generate: true
        "405":
          content:
            application/json:
              example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
          description: Unsupported method type (API-59)
          x-do-not-generate: true
        "406":
          content:
            application/json:
              example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
          description: Unsupported Accept header
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
          description: Internal Server Error.
          x-do-not-generate: true
      summary: Companies
      tags:
      - Company
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companies
      x-accepts: application/json
  /companies/{companyId}:
    get:
      description: Information about a single company that your application has access
        to.
      operationId: Company_getInformation
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANY_GET'
              schema:
                $ref: '#/components/schemas/CompanyResource'
            application/vnd.paychex.company.v1+json:
              examples:
                company:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANY_GET'
              schema:
                $ref: '#/components/schemas/CompanyResource'
          description: successful operation
        "401":
          content:
            application/json:
              example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
          description: "User doesn't have access to this endpoint (API-2), Client\
            \ has been end dated (API-68)"
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
          description: Invalid resource ID (API-7)
          x-do-not-generate: true
        "405":
          content:
            application/json:
              example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
          description: Unsupported method type (API-59)
          x-do-not-generate: true
        "406":
          content:
            application/json:
              example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
          description: Unsupported Accept header
          x-do-not-generate: true
        "409":
          description: default response
        "500":
          content:
            application/json:
              example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
          description: Internal Server Error.
          x-do-not-generate: true
      summary: A Company
      tags:
      - Company
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companies-companyId
      x-accepts: application/json
  /companies/{companyId}/calculationbases:
    get:
      description: Array of calculation bases that are used with a worker pay components
        that are not FLAT_DOLLAR_AMOUNT allow you to determine what to apply the calculation
        against when determining the amount during the pay run.
      operationId: Company_getCalculationBases
      parameters:
      - description: The ID of the company.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANY_CALCBASE_GET'
              schema:
                $ref: '#/components/schemas/CalculationBase'
            application/vnd.paychex.payroll.calculationbases.v1+json:
              examples:
                CompanyCalculationBases:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANY_CALCBASE_GET'
              schema:
                $ref: '#/components/schemas/CalculationBase'
          description: successful operation
        "401":
          content:
            application/json:
              example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
          description: "User doesn't have access to this endpoint (API-2), Client\
            \ has been end dated (API-68)"
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
          description: Invalid resource ID (API-7)
          x-do-not-generate: true
        "405":
          content:
            application/json:
              example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
          description: Unsupported method type (API-59)
          x-do-not-generate: true
        "406":
          content:
            application/json:
              example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
          description: Unsupported Accept header
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
          description: Internal Server Error.
          x-do-not-generate: true
      summary: Company Calculation Bases
      tags:
      - Company
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companies-companyId-calculationbases
      x-accepts: application/json
  /companies/{companyId}/checks:
    get:
      description: Get check(s) that are for a specific company within a processed
        or unprocessed pay period.
      operationId: Payroll_getCompanyChecksByPayPeriod
      parameters:
      - description: ID associated with desired company.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: The id assigned to the pay period that the check will be within.
        explode: true
        in: query
        name: payperiodid
        required: true
        schema:
          type: string
        style: form
      - description: The zero based offset of the next page of data to be presented.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          format: int32
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--companies-companyId-checks-get-parameters-2-schema
        style: form
      - description: The maximum number of elements to be returned in a page transition.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 0
          example: 0
          format: int32
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--companies-companyId-checks-get-parameters-3-schema
        style: form
      - description: Filter by User Id.
        explode: true
        in: query
        name: filterbyuserid
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/UN_PROCESSED_CHECK_GET'
              schema:
                $ref: '#/components/schemas/CheckResource'
            application/vnd.paychex.payroll.checks.v1+json:
              examples:
                unProcessed:
                  $ref: '#/components/examples/JSONEXAMPLES/value/UN_PROCESSED_CHECK_GET'
              schema:
                $ref: '#/components/schemas/CheckResource'
            application/vnd.paychex.payroll.processedchecks.v1+json:
              examples:
                processed:
                  $ref: '#/components/examples/JSONEXAMPLES/value/PROCESSED_CHECK_GET'
              schema:
                $ref: '#/components/schemas/CheckResource'
          description: successful operation
        "400":
          content:
            application/json:
              example:
                errors:
                - description: The request isn't valid.
                  code: API-40
                  resolution: Please send the valid request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request isn't valid.
                  code: API-40
                  resolution: Please send the valid request
          description: "Missing query parameter (API-49), Invalid query parameter\
            \ (API-40)"
          x-do-not-generate: true
        "401":
          content:
            application/json:
              example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
          description: "User doesn't have access to this endpoint (API-2), Client\
            \ has been end dated (API-68)"
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
          description: Invalid resource ID (API-7)
          x-do-not-generate: true
        "405":
          content:
            application/json:
              example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
          description: Unsupported method type (API-59)
          x-do-not-generate: true
        "406":
          content:
            application/json:
              example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
          description: Unsupported Accept header
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
          description: Internal Server Error.
          x-do-not-generate: true
      summary: Company Checks
      tags:
      - Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companies-companyId-checks
      x-accepts: application/json
    post:
      description: Add a check for one or more worker within a company for an available
        pay period.
      operationId: Payroll_addCompanyChecks
      parameters:
      - description: ID associated with desired company.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.paychex.payroll.checks.v1+json:
            examples:
              CompanyChecks:
                $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_CHECKS_POST_REQ'
            schema:
              $ref: '#/components/schemas/CheckResource'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_CHECKS_POST_RES'
              schema:
                $ref: '#/components/schemas/CheckResource'
            application/vnd.paychex.payroll.checks.v1+json:
              examples:
                CompaniesChecks:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_CHECKS_POST_RES'
              schema:
                $ref: '#/components/schemas/CheckResource'
          description: successful operation
        "400":
          content:
            application/json:
              example:
                errors:
                - description: The request isn't valid.
                  code: API-40
                  resolution: Please send the valid request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request isn't valid.
                  code: API-40
                  resolution: Please send the valid request
          description: "Amount should be between 0.00-9999.99 (API-28), Invalid Org\
            \ ID (API-40), Required field missing (API-46), Required field ambiguous\
            \ (API-47), Required field invalid (API-48), Pay period is in a state\
            \ that will not allow checks to be modified (API-51), Empty request (API-52),\
            \ All checks must have the same pay period in the request (API-53), Missing\
            \ required field for one or more request (API-54), At least one worker\
            \ doesn't belong to this client (API-55), Duplicate correlation ID (API-56),\
            \ The pay component doesn't support the corresponding worker type (API-57),\
            \ The pay component can't be REDUCTION type (API-60), Product was not\
            \ set up for this client as of the check date of the given pay period\
            \ (API-65), The pay rate's start date is after the provided PayPeriod's\
            \ date range (API-69), This worker does not have a default pay rate set\
            \ (API-70) "
          x-do-not-generate: true
        "401":
          content:
            application/json:
              example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
          description: "User doesn't have access to this endpoint (API-2), Client\
            \ has been end dated (API-68)"
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
          description: Invalid resource ID (API-7)
          x-do-not-generate: true
        "405":
          content:
            application/json:
              example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
          description: "Unsupported method type (API-59), Check is not allowed to\
            \ be modified (API-51)"
          x-do-not-generate: true
        "406":
          content:
            application/json:
              example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
          description: Unsupported Accept header
          x-do-not-generate: true
        "413":
          content:
            application/json:
              example: "{\"errors\" : [{\"code\": \"API-44\",\"description\": \"Request\
                \ exceeded the max content size available for this request\": \"-\"\
                }]}"
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example: "{\"errors\" : [{\"code\": \"API-44\",\"\
                description\": \"Request exceeded the max content size available for\
                \ this request\": \"-\"}]}"
          description: Post more than 100 checks per request (API-44)
          x-do-not-generate: true
        "423":
          content:
            application/json:
              example:
                errors:
                - description: The client is locked because another user or process
                    is updating it.  Your changes cannot be  saved while the client
                    is locked.
                  code: API-10
                  resolution: Please try again later.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client is locked because another user or process
                    is updating it.  Your changes cannot be  saved while the client
                    is locked.
                  code: API-10
                  resolution: Please try again later.
          description: Client locked (API-10)
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
          description: Internal Server Error.
          x-do-not-generate: true
      summary: Company Checks
      tags:
      - Payroll
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companies-companyId-checks
      x-content-type: application/vnd.paychex.payroll.checks.v1+json
      x-accepts: application/json
  /companies/{companyId}/contacttypes:
    get:
      description: Information about contact types that your application has been
        granted access to.
      operationId: Company_getContactTypes
      parameters:
      - description: ID associated with desired company.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                companyContactTypesResDef:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANY_CONTACT_TYPES_GET'
              schema:
                $ref: '#/components/schemas/ContactTypeResource'
            application/vnd.paychex.company.contacttypes.v1+json:
              examples:
                companyContactTypesResVMT:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANY_CONTACT_TYPES_GET'
              schema:
                $ref: '#/components/schemas/ContactTypeResource'
          description: Successful operation.
        "401":
          content:
            application/json:
              example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
          description: "User doesn't have access to this endpoint (API-2), Client\
            \ has been end dated (API-68)"
          x-do-not-generate: true
        "405":
          content:
            application/json:
              example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
          description: Unsupported method type (API-59)
          x-do-not-generate: true
        "406":
          content:
            application/json:
              example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
          description: Unsupported Accept header
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
          description: Internal Server Error.
          x-do-not-generate: true
      summary: Company Contact Types
      tags:
      - Company
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companies-companyId-contacttypes
      x-accepts: application/json
  /companies/{companyId}/customfields:
    get:
      description: 'Array of customFields Configured at the company level '
      operationId: Company_getCustomFields
      parameters:
      - description: ID associated with desired company.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMFIELDS_GET'
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
            application/vnd.paychex.company.customfields.v1+json:
              examples:
                CompaniesCustomfields:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMFIELDS_GET'
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
          description: successful operation
        "401":
          content:
            application/json:
              example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
          description: "User doesn't have access to this endpoint (API-2), Client\
            \ has been end dated (API-68)"
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
          description: Invalid resource ID (API-7)
          x-do-not-generate: true
        "405":
          content:
            application/json:
              example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
          description: Unsupported method type (API-59)
          x-do-not-generate: true
        "406":
          content:
            application/json:
              example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
          description: Unsupported Accept header
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
          description: Internal Server Error.
          x-do-not-generate: true
      summary: Custom Fields
      tags:
      - Company
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companies-companyId-customfields
      x-accepts: application/json
    post:
      description: Create CustomFields at the company level which a company could
        be assigned.
      operationId: Company_createCustomFieldAtCompanyLevel
      parameters:
      - description: ID associated with desired company.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              CompCusomFieldsDef:
                $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_REQ'
            schema:
              $ref: '#/components/schemas/CustomFieldsResource'
          application/vnd.paychex.company.customfields.v1+json:
            examples:
              CompanyCusomFields:
                $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_REQ'
            schema:
              $ref: '#/components/schemas/CustomFieldsResource'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_RES'
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
            application/vnd.paychex.company.customfields.v1+json:
              examples:
                CompaniesCustomFields:
                  $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_RES'
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
          description: successful operation
        "400":
          content:
            application/json:
              example:
                errors:
                - description: The request isn't valid.
                  code: API-40
                  resolution: Please send the valid request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request isn't valid.
                  code: API-40
                  resolution: Please send the valid request
          description: The value for the one of the field is invalid
          x-do-not-generate: true
        "401":
          content:
            application/json:
              example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
          description: "User doesn't have access to this endpoint (API-2), Client\
            \ has been end dated (API-68)"
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
          description: Invalid resource ID (API-7)
          x-do-not-generate: true
        "405":
          content:
            application/json:
              example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
          description: Unsupported method type (API-59)
          x-do-not-generate: true
        "406":
          content:
            application/json:
              example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
          description: Unsupported Accept header
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
          description: Internal Server Error.
          x-do-not-generate: true
      summary: Custom Field
      tags:
      - Company
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companies-companyId-customfields
      x-content-type: application/json
      x-accepts: application/json
  /companies/{companyId}/customfields/{customFieldId}:
    get:
      description: Information about a single CustomField.
      operationId: Company_getCustomField
      parameters:
      - description: ID associated with desired company.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: ID associated with desired custom field.
        explode: false
        in: path
        name: customFieldId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMFIELD_GET'
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
            application/vnd.paychex.company.customfield.v1+json:
              examples:
                CompaniesCustomfield:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMFIELD_GET'
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
          description: successful operation
        "401":
          content:
            application/json:
              example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
          description: "User doesn't have access to this endpoint (API-2), Client\
            \ has been end dated (API-68)"
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
          description: Invalid resource ID (API-7)
          x-do-not-generate: true
        "405":
          content:
            application/json:
              example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
          description: Unsupported method type (API-59)
          x-do-not-generate: true
        "406":
          content:
            application/json:
              example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
          description: Unsupported Accept header
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
          description: Internal Server Error.
          x-do-not-generate: true
      summary: Custom Field
      tags:
      - Company
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companies-companyId-customfields-customFieldId
      x-accepts: application/json
  /companies/{companyId}/customfields/{customfieldid}:
    delete:
      description: Delete CustomField at the company level.
      operationId: Company_deleteCustomField
      parameters:
      - description: ID associated with desired company.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: ID associated with desired custom field.
        explode: false
        in: path
        name: customfieldid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: successful operation
        "400":
          content:
            application/json:
              example:
                errors:
                - description: The request isn't valid.
                  code: API-40
                  resolution: Please send the valid request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request isn't valid.
                  code: API-40
                  resolution: Please send the valid request
          description: The value for the one of the field is invalid
          x-do-not-generate: true
        "401":
          content:
            application/json:
              example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
          description: "User doesn't have access to this endpoint (API-2), Client\
            \ has been end dated (API-68)"
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
          description: Invalid resource ID (API-7)
          x-do-not-generate: true
        "405":
          content:
            application/json:
              example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
          description: Unsupported method type (API-59)
          x-do-not-generate: true
        "406":
          content:
            application/json:
              example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
          description: Unsupported Accept header
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
          description: Internal Server Error.
          x-do-not-generate: true
      summary: Custom Field
      tags:
      - Company
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--companies-companyId-customfields-customfieldid
      x-accepts: application/json
    patch:
      description: Update CustomFields at the company level which a company could
        be assigned.
      operationId: Company_updateCustomField
      parameters:
      - description: ID associated with desired company.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: ID associated with desired custom field.
        explode: false
        in: path
        name: customfieldid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.paychex.company.customfields.v1+json:
            examples:
              CompanyCusomFields:
                $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_REQ'
            schema:
              $ref: '#/components/schemas/CustomFieldsResource'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_RES'
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
            application/vnd.paychex.company.customfields.v1+json:
              examples:
                CompaniesCustomFields:
                  $ref: '#/components/examples/JSONEXAMPLES/value/C_CFIELDS_POST_RES'
              schema:
                $ref: '#/components/schemas/CustomFieldsResource'
          description: successful operation
        "400":
          content:
            application/json:
              example:
                errors:
                - description: The request isn't valid.
                  code: API-40
                  resolution: Please send the valid request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request isn't valid.
                  code: API-40
                  resolution: Please send the valid request
          description: The value for the one of the field is invalid
          x-do-not-generate: true
        "401":
          content:
            application/json:
              example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
          description: "User doesn't have access to this endpoint (API-2), Client\
            \ has been end dated (API-68)"
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
          description: Invalid resource ID (API-7)
          x-do-not-generate: true
        "405":
          content:
            application/json:
              example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
          description: Unsupported method type (API-59)
          x-do-not-generate: true
        "406":
          content:
            application/json:
              example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
          description: Unsupported Accept header
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
          description: Internal Server Error.
          x-do-not-generate: true
      summary: Custom Field
      tags:
      - Company
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--companies-companyId-customfields-customfieldid
      x-content-type: application/vnd.paychex.company.customfields.v1+json
      x-accepts: application/json
  /companies/{companyId}/customfieldscategories:
    get:
      description: 'Array of CustomFieldsCategories Configured at the company level '
      operationId: Company_getCustomFieldCategories
      parameters:
      - description: ID associated with desired company.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORIES_GET'
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
            application/vnd.paychex.company.customfieldscategories.v1+json:
              examples:
                CompaniesCustomfieldsCategories:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORIES_GET'
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
          description: successful operation
        "401":
          content:
            application/json:
              example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
          description: "User doesn't have access to this endpoint (API-2), Client\
            \ has been end dated (API-68)"
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
          description: Invalid resource ID (API-7)
          x-do-not-generate: true
        "405":
          content:
            application/json:
              example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
          description: Unsupported method type (API-59)
          x-do-not-generate: true
        "406":
          content:
            application/json:
              example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
          description: Unsupported Accept header
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
          description: Internal Server Error.
          x-do-not-generate: true
      summary: Custom Fields Categories
      tags:
      - Company
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companies-companyId-customfieldscategories
      x-accepts: application/json
    post:
      description: Create CustomFieldsCategory at the company level which a company
        could be assigned.
      operationId: Company_createCustomFieldCategory
      parameters:
      - description: ID associated with desired company.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldsCategoryResource'
          application/vnd.paychex.company.customfieldscategories.v1+json:
            schema:
              $ref: '#/components/schemas/CustomFieldsCategoryResource'
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET'
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
            application/vnd.paychex.company.customfieldscategories.v1+json:
              examples:
                PostCompaniesCustomfieldsCategory:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET'
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
          description: successful operation
        "400":
          content:
            application/json:
              example:
                errors:
                - description: The request isn't valid.
                  code: API-40
                  resolution: Please send the valid request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request isn't valid.
                  code: API-40
                  resolution: Please send the valid request
          description: The value for the one of the field is invalid
          x-do-not-generate: true
        "401":
          content:
            application/json:
              example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
          description: "User doesn't have access to this endpoint (API-2), Client\
            \ has been end dated (API-68)"
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
          description: Invalid resource ID (API-7)
          x-do-not-generate: true
        "405":
          content:
            application/json:
              example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
          description: Unsupported method type (API-59)
          x-do-not-generate: true
        "406":
          content:
            application/json:
              example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
          description: Unsupported Accept header
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
          description: Internal Server Error.
          x-do-not-generate: true
      summary: Custom Fields Category
      tags:
      - Company
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--companies-companyId-customfieldscategories
      x-content-type: application/json
      x-accepts: application/json
  /companies/{companyId}/customfieldscategories/{categoryId}:
    get:
      description: Information about a single CustomFieldsCategory.
      operationId: Company_getCustomFieldsCategory
      parameters:
      - description: ID associated with desired company.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: ID associated with desired category.
        explode: false
        in: path
        name: categoryId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                defaultResponse:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET'
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
            application/vnd.paychex.company.customfieldscategory.v1+json:
              examples:
                CompaniesCustomfieldsCategory:
                  $ref: '#/components/examples/JSONEXAMPLES/value/COMPANIES_CUSTOMCATEGORY_GET'
              schema:
                $ref: '#/components/schemas/CustomFieldsCategoryResource'
          description: successful operation
        "401":
          content:
            application/json:
              example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
          description: "User doesn't have access to this endpoint (API-2), Client\
            \ has been end dated (API-68)"
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
          description: Invalid resource ID (API-7)
          x-do-not-generate: true
        "405":
          content:
            application/json:
              example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
          description: Unsupported method type (API-59)
          x-do-not-generate: true
        "406":
          content:
            application/json:
              example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
          description: Unsupported Accept header
          x-do-not-generate: true
        "500":
          content:
            application/json:
              example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Internal Server Error.
                  code: API-1
                  resolution: Please contact Paychex API Developer Center Support.
          description: Internal Server Error.
          x-do-not-generate: true
      summary: Custom Fields Category
      tags:
      - Company
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--companies-companyId-customfieldscategories-categoryId
      x-accepts: application/json
  /companies/{companyId}/customfieldscategories/{categoryid}:
    delete:
      description: Delete CustomFieldsCategory at the company level.
      operationId: Company_deleteCustomFieldsCategory
      parameters:
      - description: ID associated with desired company.
        explode: false
        in: path
        name: companyId
        required: true
        schema:
          type: string
        style: simple
      - description: ID associated with desired category.
        explode: false
        in: path
        name: categoryid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: successful operation
        "401":
          content:
            application/json:
              example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The client could not be authenticated due to missing
                    or invalid client credentials.
                  code: API-102
                  resolution: Make sure that you are using the correct API key/Secret
                    and that your application is enabled.
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Your application is not authorized to access the  resource.
                  code: API-2
                  resolution: Please have your company administrator give your application
                    access to the resource.
          description: "User doesn't have access to this endpoint (API-2), Client\
            \ has been end dated (API-68)"
          x-do-not-generate: true
        "404":
          content:
            application/json:
              example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The resource or status is invalid. You may have an
                    incorrect resource ID.
                  code: API-7
                  resolution: Send a valid resource in your request
          description: Invalid resource ID (API-7)
          x-do-not-generate: true
        "405":
          content:
            application/json:
              example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: The request method type is unsupported.
                  code: API-59
          description: Unsupported method type (API-59)
          x-do-not-generate: true
        "406":
          content:
            application/json:
              example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
                    vendor media type
              schema:
                $ref: '#/components/schemas/ErrorResource'
              x-konfig-original-example:
                errors:
                - description: Invalid vendor media type.
                  code: API-75
                  resolution: Please refer to our documentation and send the correct
[...]
